<!DOCTYPE html>
<html>
<head>
	<title>CSS Selector Demo</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="box-display-container">
		<div id="box-container">
			<div id="box" class="">the box</div>
		</div>
		<button id="add-stylesheet" class="button">Add Stylesheet</button>
	</div>


	<div id="stylesheet-section">
	</div>

	<script type="text/template" id="sheet-section-template">
		<div class="stylesheet-control-box" data-id="<%= number %>">
			<h4>
				Stylesheet <%= number %> 
				<div class="color-swatch" style="background-color: <%= color %>"></div>
			</h4>
			<div class="button-container">
				<button class="button add-class">Add Class</button>
				<button class="button add-10-classes">Add 10 Classes</button>
				<button class="button remove-class">Remove Class</button>
			</div>
			<div class="button-container">
				<button class="button add-element">Add Element</button>
				<button class="button add-10-elements">Add 10 Elements</button>
				<button class="button remove-element">Remove Element</button>
			</div>
			<pre class="sheet-display"><%= rule %></pre>

		</div>
	</script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="app.js"></script>
</body>
</html>